# 400
java.lang.IllegalAccessException =										400 | 01 | Bad request. | Bad request.
java.lang.InstantiationError =											400 | msg=Bad request. | devMsg=Request is missing header x. | code=02
java.lang.IllegalArgumentException =									400 | 03 | Bad request. | <exmsg>
java.lang.IllegalStateException =										400 | Bad request. | <exmsg>
java.lang.IllegalMonitorStateException =								400 | <exmsg>

# 403
java.lang.SecurityException =					 						403 | 05 | Credentials authenticating this request are not authorized to run this operation. \
																				 | Credentials authenticating this request are not authorized to run this operation.

# 412
java.lang.OutOfMemoryError =											412 | 01 | null

# 500
Throwable = 															500 | Server unexpected error, retry request. | <exmsg>
